POSTGRES_DB=adb_resolver
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

SERVER_PORT=8081

BOT_USERNAME=sync_auth_bot
BOT_TOKEN=8907866781:AAFJp0NVI1vsFGEtLYktfri74yAqDWKX0ew
BOT_ADMINS=889144963
